<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
  <div class="flex flex-col h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <div>
        <a class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group mb-12">
          <!-- <span class="ms-3">INLAZE APP</span> -->
        </a>
    </div>

    <div class="my-8 flex flex-col gap-y-2 items-start">
          <!-- <div class="ms-3">{{ fullname }}</div>
          <div class="ms-3 text-sm">Edad: {{ age }}</div> -->
    </div>

     <nav class="flex flex-col justify-between h-full space-y-2 font-medium mt-12">
        <div>
          <div>
             <a [routerLink]="['/inicio']" routerLinkActive="active"  class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <span class="flex-1 ms-3 whitespace-nowrap">Inicio</span>
             </a>
          </div>
          <div>
             <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <span class="flex-1 ms-3 whitespace-nowrap">Perfil</span>
             </a>
          </div>
        </div>
        <div>
           <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <span class="flex-1 ms-3 whitespace-nowrap">Cerrar sesión</span>
           </a>
        </div>
     </nav>
  </div>
</aside>
